* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #754c35;
    color: white;
}

header {
    background-color: #f5ead8;

    min-height: 90px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 15px 7%;
}

.logo {
    width: 130px;
    height: 60px;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

nav {
    display: flex;
    align-items: center;
    gap: 25px;
}

nav a {
    color: #3b271b;
    text-decoration: none;
    font-weight: bold;
}

.menu-btn {
    color: #3b271b;
    font-size: 25px;
    cursor: pointer;
}

.usuario img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

#menu {
    display: none;
}

.categorias {
    position: fixed;

    top: 0;
    left: -280px;

    width: 260px;
    height: 100%;

    background-color: #f5ead8;
    color: #3b271b;

    padding: 30px;

    z-index: 10;

    transition: 0.3s;
}

#menu:checked ~ .categorias {
    left: 0;
}

.categorias a {
    display: block;

    color: #3b271b;
    text-decoration: none;

    padding: 12px 5px;
}

.fechar {
    float: right;

    font-size: 30px;

    cursor: pointer;
}

main {
    min-height: 600px;

    display: flex;

    align-items: center;
    justify-content: center;
}

.login {
    width: 400px;

    background-color: #5a3927;

    padding: 40px;

    border-radius: 15px;

    text-align: center;
}

.login h1 {
    margin-bottom: 25px;
}

form {
    text-align: left;
}

form label {
    display: block;

    margin: 15px 0 7px;
}

form input {
    width: 100%;

    padding: 12px;

    border: none;

    border-radius: 6px;
}

button {
    width: 100%;

    margin-top: 25px;

    padding: 13px;

    border: none;

    border-radius: 7px;

    background-color: #3f281c;

    color: white;

    font-weight: bold;
}

.login p {
    margin-top: 25px;
}

.cadastro {
    display: inline-block;

    margin-top: 10px;

    color: white;

    font-weight: bold;
}

footer {
    background-color: #392419;

    padding: 25px 8%;
}
